
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";


body{
    // background: red;
    text-align: center;
}

body,input{
    font: 2rem Tahoma, serif;
    
}

input{
    padding: 10px;
    background: #fff;
    border: 1px slid #ccc;
    margin: 0;
}

input[type="url"]{
    width: 300px;
}
